# Logs
logs
*.log
npm-debug.log*

# Dependency directories
**/node_modules/**

# Git
.git/
.gitignore
.gitattributes


#dist
dist/

# Coverage directory used by tools like istanbul
coverage

# test coverage
tests

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

#docker
docker-compose.yml

**.log

.env-example

tobok-sitanggang/dbs/mongo_data
tobok-sitanggang/dbs/redis_data
